__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
env/

data/raw/*.csv
!data/raw/.gitkeep
data/processed/*.csv
!data/processed/.gitkeep
data/warehouse/*.duckdb
data/warehouse/*.db
data/warehouse/*.duckdb*
data/warehouse/*.db*

.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.streamlit/secrets.toml
